
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
b {
  color: red;
}
body {
  background-color: #2C2F33;
  color: #FFFFFF;
}